name: Gradle CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17 and cache Gradle
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: gradle

      - name: Build project with Gradle
        run: ./gradlew build --no-daemon
        env:
          CI: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Upload CTRF Report
        uses: actions/upload-artifact@v4
        if: always() # Run even if tests fail
        with:
          name: ctrf-report
          path: build/reports/specmatic/ctrf/*.json
          retention-days: 5

      # Display CTRF test results
      - name: Publish Test Results
        uses: ctrf-io/github-test-reporter@v1
        if: always() # Run even if tests fail
        with:
          report-path: './build/reports/specmatic/ctrf/*.json'